.modal__wrapper {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background: #fff;
    padding: 24px;
    border-radius: 16px;
    min-width: 500px;
    height: 600px;
    position: relative;

    .close {
      position: absolute;
      top: 16px;
      right: 16px;
      cursor: pointer;
      transition: all 0.3s ease;

      @media (hover: hover) {
        &:hover {
          opacity: 0.5;
          transform: translateY(-2px);
        }
      }

      &:active {
        opacity: 0.5;
        transform: translateY(-2px);
      }
    }
  }
}
