.modal__wrapper {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background: #fff;
    padding: 24px;
    border-radius: 16px;
    min-width: 500px;
    height: 460px;
  }
}
