.details {
  width: 90%;
  height: 70%;
  overflow-y: scroll;
  scrollbar-width: thin;
  margin-top: 20px;

  .detail {
    width: 100%;
    height: 20px;
    font-size: 18px;
  }
}

.select__wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.add__detail {
  margin-top: 20px;

  .button {
  }
}
