.details {
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  scrollbar-width: thin;
  margin-top: 20px;

  .detail {
    width: 98%;
    margin-top: 10px;
    padding: 6px 0;
    padding-left: 12px;
    padding-right: 6px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);

    .trash {
      cursor: pointer;
      transition: all 0.3s ease;

      @media (hover: hover) {
        &:hover {
          opacity: 0.5;
          transform: translateY(-2px);
        }
      }

      &:active {
        opacity: 0.5;
        transform: translateY(-2px);
      }
    }
  }
}

.modal__footer {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .input__wrapper {
    width: 200px;
    position: relative;

    .input {
      width: 100%;
      border: none;
      outline: 0;
      border-bottom: 2px solid black;
      padding: 2px 6px;
      font-size: 16px;

      &:focus ~ .label,
      &:not(:placeholder-shown) ~ .label {
        top: -22px;
      }
    }

    .label {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 18px;
      transition: all 0.3s ease;
    }
  }
}

.select__wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.add__detail {
  margin-top: 20px;

  .input {
    width: 240px;
    height: 44px;
    outline: 0;
    border: 2px solid rgba(128, 128, 128, 0.5);
    padding: 0 10px;
    border-radius: 12px;
  }

  .add__button,
  .save__button {
    outline: 0;
    border: 0;
    background-color: #000;
    cursor: pointer;
    padding: 14px 16px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.7;
        transform: translateY(-2px);
      }
    }

    &:active {
      opacity: 0.7;
      transform: translateY(-2px);
    }
  }

  .add__button {
    margin-left: 14px;
    border-radius: 12px 0px 0px 12px;
  }

  .save__button {
    margin-left: 2px;
    border-radius: 0px 12px 12px 0px;
  }
}
