.repeat__button {
  width: 165px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 15px;
  margin-bottom: 30px;
  background-color: #4299e1;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
      transform: translateY(-2px);
    }
  }

  &:active {
    opacity: 0.7;
    transform: translateY(-2px);
  }

  .loading {
    width: 26px;
    height: 26px;
    display: block;
    border: 4px dotted #fff;
    border-radius: 50%;
    animation: rotate infinite linear 1s;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
