.cards__section {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  position: relative;

  .arrow {
    position: absolute;
    top: 26px;
    left: 26px;
    cursor: pointer;
    transition: all 0.3s ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
        transform: translateX(-2px);
      }
    }

    &:active {
      opacity: 0.5;
      transform: translateX(-2px);
    }
  }

  .charts {
    margin-top: 50px;
  }
}
